* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#firstcon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contai {
    width: 700px;
}

.nav {
    background-color: rgb(35, 35, 61);
    height: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.male {
    width: 150px;
    color: white;
    background-color: rgb(35, 35, 61);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.male p {
    padding-top: 10px;
    font-weight: bolder;
}

.female {
    width: 150px;
    color: white;
    background-color: rgb(35, 35, 61);
    padding: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20px;
    text-align: center;
}

.female p {
    padding-top: 10px;
    font-weight: bolder;
}

.fa-mars {
    font-size: 3rem;
    padding-top: 10px;
}

.fa-venus {
    font-size: 3rem;
    padding-top: 10px;
}

.gender {
    display: flex;
    justify-content: space-around;
}

.nav h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.height {
    font-size: 27px;
    font-weight: bolder;
    color: white;
}

#Height {
    margin-left: 20px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ages {
    width: 100%;
    padding-left: 6vw;
}

.age {
    width: 150px;
    color: white;
    background-color: rgb(35, 35, 61);
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

.age input {
    width: 70px;
    height: 40px;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.in {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    background-color: rgb(35, 35, 61);
    box-shadow: 2px 2px 4px;
    width: 600px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

button {
    width: 500px;
    margin-top: 30px;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 20px;
    background-color: red;
}

.lebel {
    margin-top: 20px;
    padding-bottom: 20px;
}

.leb {
    padding-top: 20px;
}

.weight {
    font-size: 27px;
    font-weight: bold;
    color: white;
}

.form {
    width: 100%;
}

#Weight {
    margin-left: 20px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}

.container {
    width: 100%;
    background-color: rgb(11, 4, 43);
    display: flex;
    height: 120vh;
    justify-content: center;
    overflow: hidden;
}

.firstcon {
    display: flex;
    width: 100%;
    justify-content: center;
}

#result {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px;
    font-size: 27px;
}

.res {
    width: 100%;
    display: flex;
    justify-content: center;
}

.result h2 {
    color: white;
    padding-top: 10px;
}

#weight-guid h3 {
    color: white;
    padding-top: 20px;
    text-align: center;
    font-size: 2rem;
}

.butto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.result {
    width: 600px;
    background-color: rgb(35, 35, 61);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20px;
    text-align: center;
}

#condi {
    color: white;
    font-size: 20px;
    width: 600px;
    background-color: rgb(35, 35, 61);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.condition {
    text-align: start;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.con {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.condition p {
    padding-top: 20px;
}

@media only screen and (max-width:650px) {
    .contai {
        width: 100%;
        overflow: hidden;
    }
    #firstcon {
        width: 100%;
    }
    #firstcon {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}